.DS_Store
*.str
*.csv
hw
*/hw
sw_emu
*/sw_emu
hw_emu
*/hw_emu
saved_npy_data/
delete
*.swp
*xclbin*
*/xclbin/*
host
*/xclbin
*/xclbin/*
*.run/*
TempConfig
system_estimate.xtxt
*.rpt
*.protoinst
*.xo.*
_v++_*
.Xil
emconfig.json
dltmp*
xmltmp*
*.log
*.jou
*/xclbin
_x/*
_x.*
.ycm_extra_conf.py
v++.compile_summary
hls_output
